@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .theme {
    --font-heading: var(--font);
    --font-sans: var(--font);
  }
  :root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.32 0 none);
    --chart-2: oklch(0.41 0 none);
    --chart-3: oklch(0.54 0 none);
    --chart-4: oklch(0.71 0 none);
    --chart-5: oklch(0.89 0 none);
    --radius: 0.625rem;
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
    --chart-background: oklch(1 0 0);
    --chart-foreground: oklch(0.145 0.004 285);
    --chart-foreground-muted: oklch(0.55 0.014 260);
    --chart-line-primary: var(--chart-1);
    --chart-line-secondary: var(--chart-2);
    --chart-crosshair: oklch(0.4 0.1828 274.34);
    --chart-grid: oklch(0.9 0 0);
    --chart-brush-border: var(--chart-grid);
    --chart-tooltip-background: oklch(0.21 0.006 285 / 0.8);
    --chart-tooltip-foreground: oklch(0.985 0 0);
    --chart-tooltip-muted: oklch(0.65 0.01 260);
    --chart-marker-background: oklch(0.97 0.005 260);
    --chart-marker-border: oklch(0.85 0.01 260);
    --chart-marker-foreground: oklch(0.3 0.01 260);
    --chart-label: oklch(0.45 0.01 260);
    --chart-scale-01: oklch(0.98 0.003 106);
    --chart-scale-02: oklch(0.92 0.008 106);
    --chart-scale-03: oklch(0.82 0.015 106);
    --chart-scale-04: oklch(0.68 0.02 106);
    --chart-scale-05: oklch(0.55 0.025 106);
    --chart-scale-pattern-color: oklch(0.96 0.005 106)
  }
  .dark,
  [data-theme="dark"] {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(1 0 none);
    --chart-2: oklch(0.73 0 none);
    --chart-3: oklch(0.51 0 none);
    --chart-4: oklch(0.39 0 none);
    --chart-5: oklch(0.32 0 none);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
    --chart-background: oklch(0.145 0 0);
    --chart-foreground: oklch(0.45 0 0);
    --chart-foreground-muted: oklch(0.65 0.01 260);
    --chart-crosshair: oklch(0.45 0 0);
    --chart-grid: oklch(0.25 0 0);
    --chart-brush-border: var(--chart-grid);
    --chart-marker-background: oklch(0.25 0.01 260);
    --chart-marker-border: oklch(0.4 0.01 260);
    --chart-marker-foreground: oklch(0.9 0 0);
    --chart-label: oklch(0.75 0.01 260);
    --chart-scale-01: oklch(0.28 0.03 270);
    --chart-scale-02: oklch(0.38 0.04 270);
    --chart-scale-03: oklch(0.48 0.05 270);
    --chart-scale-04: oklch(0.58 0.06 270);
    --chart-scale-05: oklch(0.68 0.07 270);
    --chart-scale-pattern-color: oklch(0.145 0 0)
  }
  * {
    border-color: var(--border);
    outline-color: color-mix(in srgb, var(--ring) 50%, transparent);
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
  button,
  input,
  select,
  textarea,
  code,
  kbd,
  samp,
  pre {
    @apply font-sans;
  }
}
